{% extends 'base.html.twig' %}

{% block title %}Edit Tache{% endblock %}

{% block body %}

<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Modifier la tâche</p>

               
   
    {{ include('tache/_form.html.twig', {'button_label': 'Update'}) }}

  <a class href="{{ path('app_tache_index') }}">
    <button class="btn btn-dark">Retour à la liste</button></a>
    
      <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                    </div>
                  </div>

    Tu veux supprimer la tâche, clique sur la croix {{ include('tache/_delete_form.html.twig') }} 

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://cdn.discordapp.com/attachments/1020499323982712914/1069307944249868358/3227392.jpg" width="80%"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


